{%load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Martup - Multipurpose eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Martup is Multipurpose eCommerce HTML Template, that's perfect for any kind of eCommerce websites such as fashion, furniture and many more.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="{{info.logo.url}}" type="image/png">

    <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendor/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
<link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
<link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>

<body>

    <!-- .....:::::: Start Header Section - Dark Header :::::.... -->
    <header class="header-section pos-absolute dark-bg sticky-header d-none d-lg-block section-fluid-270">
        <div class="header-wrapper pos-relative">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <!-- Start Header Logo -->
                        <a href="index.html" class="header-logo">
                            <img class="img-fluid" src="{% static 'assets/images/logo/logo-dark-theme.png' %}" alt="">
                        </a>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <div class="header-event">
                            <!-- Start Menu event -->
                            <div class="menu-event dropdown">
                                <button class="main-menu-event dropdown-toggle" data-bs-toggle="dropdown"><img src="{% static 'assets/images/icons/icon-open-menu.svg' %}" alt=""><span>Menu</span><img src="assets/images/icons/icon-arrow-drop-down.svg" alt=""></button>
                                <ul class="mainmenu-nav dropdown-menu">
                                    <li class="menu-items">
                                        <a href="{%url 'home' %}">Home </a>
                                    </li>
                                    <li class="menu-items">
                                        <a href="shop-grid-sidebar-left.html">Shop <span class="material-icons">arrow_right</span></a>
                                        <div class="has-dropdown megamenu">
                                            <div class="menu-content">
                                                <h6 class="title">Shop Page</h6>
                                                <ul class="submenu">
                                                    <li><a href="{%url 'shop_full'%}">Shop Full Width</a></li>
                                                </ul>
                                            </div>
                                            <div class="menu-content">
                                                <h6 class="title">Product Details Page</h6>
                                                <ul class="submenu">
                                                    <li><a href="{%url 'product_details_left' %}">Product Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                            <div class="menu-content">
                                                <h6 class="title">Others Page</h6>
                                                <ul class="submenu">
                                                    <li><a href="{%url 'cart' %}">Cart</a></li>
                                                    <li><a href="{%url 'checkout' %}">Checkout</a></li>
                                                    {% if user.is_authenticated %}
                                                    <li><a href="{%url 'logout'  %}">LOGOUT</a></li>
                                                    {%else%}
                                                    <li><a href="{%url 'login'  %}">Login</a></li>
                                                    {%endif%}
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-items">
                                        <a href="{%url 'blog' %}">Blog </a>
                                        
                                    </li>
                                    <li class="menu-items">
                                        <a href="#">Pages <span class="material-icons">arrow_right</span></a>
                                        <div class="has-dropdown">
                                            <div class="menu-content">
                                                <h6 class="title">Inner Pages</h6>
                                                <ul class="submenu">
                                                    <li><a href="{%url 'about' %}">About Us</a></li>
                                                    <li><a href="{%url 'faq'%}">FAQ</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-items"><a href="{%url 'contact'%}">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="search-event">
                                <input class="header-search" type="search" placeholder="">
                                <button class="header-search-btn" type="submit"><img src="" alt=""></button>
                            </div>
                            <!-- End Menu event -->
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-action">
                            <button class="header-action-item header-action-wishlist" data-bs-toggle="offcanvas" data-bs-target="#addcartOffcanvas"><img src="{% static 'assets/images/icons/icon-shopping-bag-light.svg' %}" alt=""><span class="item-count item-count--dark">{{ items }}</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- .....:::::: End Header Section - Dark Header :::::.... -->

    <!-- .....:::::: Start Mobile Header Section :::::.... -->
    <div class="mobile-header d-block d-lg-none">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <div class="mobile-logo">
                        <a href="index.html"><img src="{% static 'assets/images/logo/logo-light-theme.png' %}" alt=""></a>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="mobile-action-link text-end d-flex ">
                        <button data-bs-toggle="offcanvas" data-bs-target="#toggleMenu"><span class="material-icons">menu</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .....:::::: Start MobileHeader Section :::::.... -->

    <!--  .....::::: Start Offcanvas Mobile Menu Section :::::.... -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="toggleMenu">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="d-flex justify-content-center ">
                <a href="wishlist.html" class="header-action-item header-action-wishlist"><img src="{% static 'assets/images/icons/icon-heart-dark.svg' %}" alt=""><span class="count-tag">01</span></a>
                <a href="cart.html" class="header-action-item header-action-wishlist"><img src="{% static 'assets/images/icons/icon-shopping-bag-dark.svg' %}" alt=""><span class="item-count item-count--light">02 ITEMS</span></a>
            </div>

            <div class="header-event mobile-search my-5">
                <div class="search-event">
                    <input class="header-search" type="search">
                    <button class="header-search-btn" type="submit"><img src="{% static 'assets/images/icons/icon-search.svg' %}" alt=""></button>
                </div>
            </div>

            <!-- Start Offcanvas Mobile Menu Wrapper -->
            <div class="offcanvas-mobile-menu-wrapper">
                <!-- Start Mobile Menu  -->
                <div class="mobile-menu-bottom">
                    <!-- Start Mobile Menu Nav -->
                    <div class="offcanvas-menu">
                        <ul>
                            <li>
                                <a href="#"><span>Home</span></a>
                                <ul class="mobile-sub-menu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span>Shop</span></a>
                                <ul class="mobile-sub-menu">
                                    <li>
                                        <a href="#">Shop Page</a>
                                        <ul class="mobile-sub-menu">
                                            <li><a href="shop-grid-sidebar-left.html">Left Sidebar</a></li>
                                            <li><a href="shop-grid-sidebar-right.html">Right Sidebar</a></li>
                                            <li><a href="shop-grid-sidebar-full-width-3-column.html">Shop Full Width</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="mobile-sub-menu">
                                    <li>
                                        <a href="#">Product Page</a>
                                        <ul class="mobile-sub-menu">
                                            <li><a href="product-details-default.html">Product Default</a></li>
                                            <li><a href="product-details-group.html">Product Group</a></li>
                                            <li><a href="product-details-left-sidebar.html">Product Left Sidebar</a></li>
                                            <li><a href="product-details-right-sidebar.html">Product Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="mobile-sub-menu">
                                    <li>
                                        <a href="#">Others Page</a>
                                        <ul class="mobile-sub-menu">
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="compare.html">Compare</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="my-account.html">MyAccount</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span>Blogs</span></a>
                                <ul class="mobile-sub-menu">
                                    <li>
                                        <a href="#">Blog List</a>
                                        <ul class="mobile-sub-menu">
                                            <li><a href="blog-list-3-grid-full-width.html">Grid 3 Full Width</a></li>
                                            <li><a href="blog-list-4-grid-full-width.html">Grid 4 Full Width</a></li>
                                            <li><a href="blog-list-left-sidebar.html">Left Sidebar</a></li>
                                            <li><a href="blog-list-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="mobile-sub-menu">
                                    <li>
                                        <a href="#">Blog Details</a>
                                        <ul class="mobile-sub-menu">
                                            <li><a href="blog-details-left-sidebar.html">Left Sidebar</a></li>
                                            <li><a href="blog-details-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span>Pages</span></a>
                                <ul class="mobile-sub-menu">
                                    <li><a href="{%url 'about' %}"><span>About Us</span></a></li>
                                    <li><a href="{%url 'faq' %}">FAQ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{%url 'contact' %}"><span>Contact</span></a>
                            </li>
                        </ul>
                    </div> <!-- End Mobile Menu Nav -->
                </div> <!-- End Mobile Menu -->

                <!-- Start Mobile contact Info -->
                <div class="mobile-contact-info text-center">
                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-facebook-f-dark.svg' %}" alt=""></a>
                        </li>
                        <li><a href="https://twitter.com/" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-twitter-dark.svg' %}" alt=""></a>
                        </li>
                        <li><a href="https://www.pinterest.com/" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-pinterest-p-dark.svg' %}" alt=""></a></li>
                        <li><a href="https://dribbble.com/" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-dribbble-dark.svg' %}" alt=""></a></li>
                    </ul>
                </div>
                <!-- End Mobile contact Info -->

            </div> <!-- End Offcanvas Mobile Menu Wrapper -->
        </div>
    </div>
    <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!--  .....::::: Start Wishlist Offcanvas Section :::::.... -->
    <!-- ...:::: End Wishlist Offcanvas Section:::... -->

    <!--  .....::::: Start Add Cart Offcanvas Section :::::.... -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="addcartOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Add Cart</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="offcanvas-products-list">
                {%for i in card%}
                <li class="single-item">
                    <div class="box">
                        <a href="" class="image">
                            <img src="{{i.product.photo.url}}" alt="" class="offcanvas-wishlist-image">
                        </a>
                        <div class="content">
                            <a href="" class="title">{{i.product.name}}</a>
                            <div class="offcanvas-wishlist-item-details">
                                {%if i.product.bonus > 0 %}
                                <span> ${{i.product.bonus}}	</span>
                                {%else%}
                                <span> ${{i.product.price}}	</span>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="item-delete text-right">
                        <a href="{% url 'delete-card' i.id %}"><img src="{% static 'assets/images/icons/icon-trash.svg' %}" alt=""></a>
                    </div>
                </li>
                {%endfor%}
                
            </ul>
            <div class="offcanvas-action-link">
                <a href="cart.html" class="btn">Add Cart</a>
                <a href="checkout.html" class="btn">Checkout</a>
            </div>
        </div>
    </div>
    <!-- ...:::: End Add Cart Offcanvas Section:::... -->
    <!-- ...::: Strat Hero Slider Section :::... -->
    <div class="hero-slider-section hero-slider-dark">
        <div class="box-wrapper">
            <div class="hero-slider-wrapper">
                <div class="hero-slider">
                    <!-- Slider main container -->
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <!-- Start Hero Slider Single Item -->
                            {%for i in width%}
                            <div class="hero-slider-single-item--style-2 swiper-slide">
                                <div class="image">
                                    <img class="img-fluid" src="{{i.img.url}}" alt="">
                                </div>
                                <div class="image-shape"></div>
                                <div class="content-box section-fluid-270">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-7 col-md-8">
                                                <div class="content-fluid">
                                                    <span class="title-tag">{{i.title1}}</span>
                                                    <h2 class="title">{{i.title2}}</span></h2>
                                                    <p>{{i.text}}</p>
                                                    <a href="{%url 'product_details_left' %}" class="btn btn-lg btn-default">GET IT NOW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hero-slider-shape hero-slider-top-shape"><img class="img-fluid" src="{% static 'assets/images/icons/hero-slider-2-top-shape.svg' %}" alt=""></div>
                                <div class="hero-slider-shape hero-slider-bottom-shape"><img class="img-fluid" src="{% static 'assets/images/icons/hero-slider-2-bottom-shape.svg' %}" alt=""></div>
                            </div>
                            {%endfor%}
                            <!-- End Hero Slider Single Item -->
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Hero Slider Section:::... -->

    <!-- ...::: Strat Banner Portrait Section Section :::... -->
    <div class="banner-portrait-section section-fluid-270 section-top-gap-100 pos-relative">
        <div class="section-wrapper section-orientation-vertical">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content text-uppercase">
                            <span class="title-tag">Choose you </span>
                            <h2 class="section-title has-underline">Categories</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-wrapper">
            <div class="banner-portrait-wrapper">
                <div class="container-fluid">
                    <div class="row mb-n20">
                        {%for i in category%}
                        <div class="col-md-3 offset-md-1 col-sm-4 col-12 mb-20">
                            <!-- Start Banner Portrait Single Item -->
                            <div class="banner-animate--flash">
                                <a href="{% url 'shop_full' %}" class="banner-portrait-single-item img-responsive">
                                    <div class="image">
                                        <img class="img-fluid" src="{{i.img.url}}" alt="">
                                    </div>
                                </a>
                            </div>
                            <!-- End Banner Portrait Single Item -->
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Banner Portrait Section Section :::... -->

    <!-- ...::: Strat Shipping Section :::... -->
    <div class="shipping-section section-fluid-270 section-top-gap-100">
        <div class="box-wrapper">
            <div class="section-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-10">
                            <div class="section-content section-content-gap-60 text-center">
                                <h2 class="section-title fw-bold">Why we are best</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Shipping Wrapper -->
            <div class="shipping-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-center justify-content-sm-start mb-n40">
                        {%for i in best%}
                        <div class="col-lg-3 offset-md-1 col-sm-6 col-12 mb-40">
                            <!-- Start Shipping Single Items -->
                            <div class="shipping-single-item--style-2">
                                <div class="icon">
                                    <img class="img-fluid" src="{{i.img.url}}" alt="">
                                </div>
                                <div class="content">
                                    <h4 class="title">{{i.title}}</h4>
                                    <p>{{i.text}}</p>
                                </div>
                            </div>
                            <!-- Start Shipping Single Items -->
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <!-- End Shipping Wrapper -->
        </div>
    </div>
    <!-- ...::: End Shipping Section :::... -->

    <!-- ...::: Strat Banner Mixed Section Section :::... -->
    <div class="banner-mixed-section section-fluid-270 section-top-gap-100">
        <div class="box-wrapper">
            <div class="section-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-10">
                            <div class="section-content section-content-gap-60 text-center">
                                <h2 class="section-title fw-normal"><span class="fw-bold"> Discounted </span> Products</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-square-wrapper">
                <div class="container-fluid">
                    <div class="row mb-n20">
                        <div class="col-xl-6 col-md-6 mb-20">
                            <!-- Start Banner Square Single Item -->
                            <div class="banner-square-single-item banner-animate--flash">
                                <a href="{% url 'shop_full' %}" class="image img-responsive">
                                    <img src="{{info.products_photo.url}}" alt="">
                                </a>
                            </div>
                            <!-- End Banner Square Single Item -->
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="row mb-n20">
                                {%for i in products%}
                                <div class="col-sm-6 mb-20">
                                    <!-- Start Banner Square Single Item -->
                                    <div class="banner-square-single-item banner-animate--flash">
                                        <a href="{% url 'shop_full' %}" class="image img-responsive">
                                            <img src="{{i.img.url}}" alt="">
                                        </a>
                                    </div>
                                    <!-- End Banner Square Single Item -->
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Banner Mixed Section Section :::... -->

    <!-- ...::: Strat Product Tab Item Section :::... -->
    <div class="product-tab-items-section section-fluid-270 section-top-gap-100">
        <div class="box-wrapper">
            <div class="section-wrapper d-none">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-7 col-md-8 col-sm-10">
                            <div class="section-content section-content-gap-60 text-center">
                                <h2 class="section-title fw-normal">Hurry! <br> Get your <span class="fw-bold">product</span> now</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-center flex-warp">
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-10">
                            <div class="section-content section-content-gap-60 text-center">
                                <h2 class="section-title">Products</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tab-item-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Start Product Tab Items  -->
                            <ul class="product-tab nav justify-content-center" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#sofa" type="button">Sofa <img src="{% static 'assets/images/icons/product-tab-icon-6.svg' %}" alt=""></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#table" type="button">Table <img src="{% static 'assets/images/icons/product-tab-icon-7.svg' %}" alt=""></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#bed" type="button">Bed <img src="{% static 'assets/images/icons/product-tab-icon-8.svg' %}" alt=""></button>
                                </li>
                            </ul>
                            <!-- End Product Tab Items  -->
                        </div>
                        <div class="col-12">
                            <!-- Start Tab Content Items -->
                            <div class="tab-content">
                                <!-- Start Tab Content Single Item -->
                                <div class="tab-pane show active tab-animate" id="sofa" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="product-grid-items">
                                                <div class="row mb-n25">
                                                    {%for i in product%}
                                                    <div class="col-xl-4 col-md-6 mb-25">
                                                        <!-- Start Product Single Item - Style 2 -->
                                                        <div class="product-single-item-style-2">
                                                            <div class="image img-responsive">
                                                                <a href="{%url 'product_details' i.id %}"><img class="img-fluid" src="{{i.photo.url}}" alt=""></a>
                                                                <a href="wishlist.html" class="event-btn"><span class="material-icons">favorite_border</span></a>
                                                            </div>
                                                            <div class="content">
                                                                <div class="top">
                                                                    <span class="catagory">{{i.name}}</span>
                                                                    <h4 class="title"><a href="{%url 'product_details' i.id %}">Upholstered chair</a></h4>
                                                                    {%if i.bonus > 0 %}
                                                                    <span class="price">${{i.bonus}} <del>${{i.price}}</del></span>
                                                                    {%else%}
                                                                    <span class="price">${{i.price}} </span>
                                                                    {%endif%}
                                                                </div>
                                                                <div class="bottom">
                                                                    {%if user.is_authenticated%}
                                                                    <a href="{%url 'add-card' i.id %}" class="event-btn"><span class="material-icons">add_shopping_cart</span></a>
                                                                    {%else%}
                                                                    <a href="{%url 'login'%}" class="event-btn"><span class="material-icons">add_shopping_cart</span></a>
                                                                    {%endif%}
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- End Product Single Item - Style 2 -->
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tab Content Single Item -->
                                <!-- Start Tab Content Single Item -->
                                <div class="tab-pane tab-animate" id="table" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="product-grid-items">
                                                <div class="row mb-n25">
                                                    {%for i in product%}
                                                    <div class="col-xl-4 col-md-6 mb-25">
                                                        <!-- Start Product Single Item - Style 2 -->
                                                        <div class="product-single-item-style-2">
                                                            <div class="image img-responsive">
                                                                <a href="{%url 'product_details' i.id %}"><img class="img-fluid" src="{{i.photo.url}}" alt=""></a>
                                                                <a href="wishlist.html" class="event-btn"><span class="material-icons">favorite_border</span></a>
                                                            </div>
                                                            <div class="content">
                                                                <div class="top">
                                                                    <span class="catagory">{{i.name}}</span>
                                                                    <h4 class="title"><a href="{%url 'product_details' i.id %}">Upholstered chair</a></h4>
                                                                    {%if i.bonus > 0 %}
                                                                    <span class="price">${{i.bonus}} <del>${{i.price}}</del></span>
                                                                    {%else%}
                                                                    <span class="price">${{i.price}} </span>
                                                                    {%endif%}
                                                                </div>
                                                                <div class="bottom">
                                                                    {%if user.is_authenticated%}
                                                                    <a href="{%url 'add-card' i.id %}" class="event-btn"><span class="material-icons">add_shopping_cart</span></a>
                                                                    {%else%}
                                                                    <a href="{%url 'login'%}" class="event-btn"><span class="material-icons">add_shopping_cart</span></a>
                                                                    {%endif%}
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- End Product Single Item - Style 2 -->
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tab Content Single Item -->
                                <!-- Start Tab Content Single Item -->
                                <div class="tab-pane tab-animate" id="bed" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="product-grid-items">
                                                <div class="row mb-n25">
                                                    {%for i in product%}
                                                    <div class="col-xl-4 col-md-6 mb-25">
                                                        <!-- Start Product Single Item - Style 2 -->
                                                        <div class="product-single-item-style-2">
                                                            <div class="image img-responsive">
                                                                <a href="{%url 'product_details' i.id %}"><img class="img-fluid" src="{{i.photo.url}}" alt=""></a>
                                                                <a href="wishlist.html" class="event-btn"><span class="material-icons">favorite_border</span></a>
                                                            </div>
                                                            <div class="content">
                                                                <div class="top">
                                                                    <span class="catagory">{{i.name}}</span>
                                                                    <h4 class="title"><a href="{%url 'product_details' i.id %}">Upholstered chair</a></h4>
                                                                    {%if i.bonus > 0 %}
                                                                    <span class="price">${{i.bonus}} <del>${{i.price}}</del></span>
                                                                    {%else%}
                                                                    <span class="price">${{i.price}} </span>
                                                                    {%endif%}
                                                                </div>
                                                                <div class="bottom">
                                                                    {%if user.is_authenticated%}
                                                                    <a href="{%url 'add-card' i.id %}" class="event-btn"><span class="material-icons">add_shopping_cart</span></a>
                                                                    {%else%}
                                                                    <a href="{%url 'login'%}" class="event-btn"><span class="material-icons">add_shopping_cart</span></a>
                                                                    {%endif%}
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- End Product Single Item - Style 2 -->
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tab Content Single Item -->
                            </div>
                            <!-- End Tab Content Items -->

                            <div class="d-flex justify-content-center">
                                <a href="{%url 'shop_full' %}" class="btn btn-md btn-default btn-section-bottom">View All Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: Strat Product Tab Item Section :::... -->

    <!-- ...::: Strat Banner Card Section Section :::... -->
    <div class="banner-card-section section-fluid-270 section-top-gap-100">
        <div class="box-wrapper">
            <div class="banner-car-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'shop_full' %}" class="d-block banner-animate--wave">
                                <img class="img-fluid" src="{{info.banner.url}}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Banner Card Section Section :::... -->

    <!-- ...::: Strat Company Logo Section Section :::... -->
    <div class="company-logo-section section-fluid-270 section-top-gap-100">
        <div class="box-wrapper">
            <div class="company-logo-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Start Company Slider -->
                            <div class="company-slider">
                                <!-- Slider main container -->
                                <div class="swiper-container">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slides -->
                                        <!-- Start Company Slider Single Item -->
                                        {%for i in slider%}
                                        <a href="https://pochta.uz/ru/component/indexpost/showtable/236.html?categories=All%20Categories&order_by=id&Itemid=236" class="company-slider-single-item swiper-slide">
                                            <div class="image">
                                                <img class="img-fluid" src="{{i.img.url}}" alt="">
                                            </div>
                                        </a>
                                        {%endfor%}
                                        <!-- End Company Slider Single Item -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Company Slider -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: Strat Company Logo Section Section :::... -->

    <!-- ...::: Strat Subscribe Section :::... -->
    <div class="newsletter-section section-fluid-270 section-top-gap-100">
        <div class="box-wrapper">
            <div class="newsletter-wrapper">
                <div class="container-fluid">
                    <div class="col-12">
                        <div class="newsletter-area newsletter-area-style-2">
                            <div class="content content-left">
                                <h4 class="title">{{email_titles.title}}</h4>
                                <p>{{email_titles.text}}</p>
                                <div class="newsletter-form">
                                    <form method="post" action="{%url 'post-mail' %}" >
                                        {% csrf_token %}
                                    <input class="email" name="email" placeholder="Enter your email" required>
                                    <button type="submit">Subscribe</button>
                                </div>
                                <div class="image-shape image-shape-left"><img class="img-fluid" src="{% static 'assets/images/icons/newsletter-paper-plane.svg' %}" alt=""></div>
                            </div>
                            <div class="content content-right">
                                <h4 class="title">{{app.title}}</h4>
                                <p>{{app.text}}</p>

                                <div class="apps-btn">
                                    <a href="{{app.app_store}}"><img class="img-fluid" src="{% static 'assets/images/icons/iphone-app-button.png' %}" alt=""></a>
                                    <a href="{{app.google_play}}"><img class="img-fluid" src="{% static 'assets/images/icons/googleplay-app-button.png' %}" alt=""></a>
                                </div>
                                <div class="image-shape image-shape-right"><img class="img-fluid" src="{% static 'assets/images/icons/newsletter-cloud-computing.svg' %}" alt=""></div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Subscribe Section :::... -->

    <!-- ...::: Strat Footer Section - Footer Dark :::... -->
    <footer class="footer-section footer-section-style-2 section-top-gap-120">
        <div class="box-wrapper">
            <div class="footer-wrapper section-fluid-270">
                <div class="container-fluid">
                    <!-- Start Footer Top  -->
                    <div class="footer-top">
                        <div class="footer-top-left">
                            <div class="footer-contact-items">
                                <a class="icon-left" href="tel:+12345678910"><img class="icon-svg" src="{% static 'assets/images/icons/icon-ios-call-dark.svg' %}" alt="">{{info.phone}}</a>
                                <a class="icon-left" href="mailto:demo@example.com"><img class="icon-svg" src="{% static 'assets/images/icons/icon-mail-open-dark.svg' %}" alt="">{{info.email}}</a>
                            </div>
                        </div>
                        <div class="footer-top-right">
                            <div class="footer-social">
                                <a href="{{info.facebook}}" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-facebook-f-dark.svg' %}" alt=""></a>
                                <a href="{{info.instagram}}" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-twitter-dark.svg' %}" alt=""></a>
                                <a href="{{info.pinterest}}" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-pinterest-p-dark.svg' %}" alt=""></a>
                                <a href="{{info.driblee}}" target="_blank" rel="noopener"><img class="icon-svg" src="{% static 'assets/images/icons/icon-dribbble-dark.svg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Top  -->

                    <!-- Start Footer Center  -->
                    <!-- End Footer Center  -->

                    <!-- Start Footer Bottom -->
                    <div class="footer-bottom">
                        <a href="{{info.company_name}}" class="payment-logo"><img class="img-fluid" src="{{info.company_logo.url}}" alt=""></a>
                    </div>
                    <!-- End Footer Bottom -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ...::: End Footer Section Section - Footer Dark :::... -->

    <!-- Scroll To button -->
    <div id="scroll-to-top" class="scroll-to-top"><span class="material-icons-outlined">expand_less</span></div>

    <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <!-- Global Vendor -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-mail.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!-- <script src="assets/js/main.min.js"></script> -->

</body>

</html>